version: "3.8"
services:
  minio-fixture:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        bucket: "os-remote-bucket"
        accessKey: "access_key"
        secretKey: "secret_key"
    environment:
      MINIO_BUCKET: "os-remote-bucket"
      MINIO_ROOT_USER: "access_key"      # 可覆盖 build args
      MINIO_ROOT_PASSWORD: "secret_key"
    ulimits:
      nofile: { soft: 65536, hard: 65536 }
    ports:
      - "9000:9000"   # API
      - "9001:9001"   # Console
    healthcheck:
      test: ["CMD", "curl", "-f", "http://127.0.0.1:9000/minio/health/live"]
      interval: 10s
      timeout: 5s
      retries: 10
    volumes:
      - ./minio-data:/minio/data

